package badrequest

import (
	"shave/views/components/card"
	"shave/views/layouts"
)

templ Index(err string) {
	@layouts.Error() {
		<main class="flex items-center justify-center min-h-screen">
			@card.Card(card.Props{Class: "w-full max-w-md mx-4"}) {
				@card.Header() {
					@card.Title() {
						Unexpected input
					}
					@card.Description() {
						{ err }
					}
				}
				@card.Footer(card.FooterProps{Class: "justify-end"}) {
					<button @click="window.history.back()" class="btn btn-primary">Go back</button>
				}
			}
		</main>
	}
}
