PORT=
MIGRATION_DIR=cmd/migration/migrations

DB_NAME=
DB_URL=
TURSO_AUTH_TOKEN=
SQL_URL=<DB_URL>?authToken=<TURSO_AUTH_TOKEN>

# run make new_secret to generate secret
SESSION_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
CALLBACK_DOMAIN=http://localhost:8080
