PORT=
MIGRATION_DIR=cmd/migration/migrations

DB_NAME=
DB_URL=http://127.0.0.1:8080
TURSO_AUTH_TOKEN=test
SQL_URL=http://127.0.0.1:8080
#Prod
SQL_URL=<DB_URL>?authToken=<TURSO_AUTH_TOKEN>

# run make new_secret to generate secret
SESSION_SECRET=

CLERK_SECRET_KEY=
CLERK_ISSUER_URL=
CLERK_CLIENT_ID=
CLERK_CLIENT_SECRET=

HOST=http://localhost:<port>
