package layouts

import (
	"shave/internal/version"
	"shave/pkg/data"
	"shave/views/components/calendar"
	"shave/views/components/datepicker"
	"shave/views/components/dialog"
	"shave/views/components/dropdown"
	"shave/views/components/footer"
	"shave/views/components/input"
	"shave/views/components/label"
	"shave/views/components/popover"
	"shave/views/components/progress"
	"shave/views/components/selectbox"
	"shave/views/components/sidebar"
	"shave/views/components/tabs"
	"shave/views/components/toast"
	"shave/views/navigation"
)

templ Index() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<title>paper-chase</title>
			<link rel="icon" type="image/x-icon" href="/favicon/favicon.ico"/>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<meta name="version" content={ version.Version }/>
			<!-- Font -->
			<link rel="preconnect" href="https://fonts.googleapis.com"/>
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
			<link
				href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"
				rel="stylesheet"
			/>
			<!-- Css -->
			<link href="/css/base.css" rel="stylesheet"/>
			<link href="/css/style.css" rel="stylesheet"/>
			<!-- Js -->
			<script src="/js/htmx.2.0.4.min.js"></script>
			<script defer src="/js/alpine.mask.min.js"></script>
			<script defer src="/js/alpine.min.js"></script>
			<!-- Templ UI -->
			@input.Script()
			@label.Script()
			@toast.Script()
			@tabs.Script()
			@dropdown.Script()
			@popover.Script()
			@sidebar.Script()
			@dialog.Script()
			@datepicker.Script()
			@calendar.Script()
			@selectbox.Script()
			@progress.Script()
		</head>
		{ children... }
	</html>
}

templ Base(user data.SessionUser) {
	@Index() {
		<body class="flex flex-col min-h-screen antialiased bg-background text-foreground">
			if ctx.Value("HX-Request") == nil {
				@navigation.Navigation(user)
			}
			<main id="page-content" class="grow flex flex-col">
				{ children... }
			</main>
			<div id="toast-container"></div>
			if ctx.Value("HX-Request") == nil {
				@footer.Footer()
			}
		</body>
	}
}
