package components

import "shave/internal/version"

templ Footer() {
<footer>
  <nav class="border-t border-border">
    <div>
      <div class="flex justify-center">
        <p class="uk-text-meta">Version: { version.Version }</p>
      </div>
    </div>
  </nav>
</footer>
}
